html *{
  box-sizing: border-box;
}

:root {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", Lato, sans-serif;
  font-size: 2em;
}
header {
  display: flex;
  justify-content: center;
}

.main_nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-decoration: none;
  font-size: 1.5em;
}

.main_image {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.center_text {
  display: flex;
  position: absolute;
  top: 35%;
  left: 19%;
  font-size: 1.7em;
  font-weight: 400;
}

.center_text2 {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 40%;
  left: 42%;
  font-size: 1.7em;
  font-weight: 400;
}

.howitworksimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: auto;
  max-width: 100%;
}

h2,h3,p {
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color: rgb(244, 129, 85);
  margin-top: 10%;
  margin-bottom: -8%;
}

h3 {
  font-size: 1em;
  color: rgb(244, 129, 85);
  position: relative;
  margin-top: -10%;
  margin-bottom: 0;
}

p {
  font-size: 0.5em;
}

p a{
  font-size: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10%;
  padding-right: 70%;
  background-color: rgb(244, 129, 85);
}

a:link{
  text-decoration: none;
}
